@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "Logoff" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("مرحبا " + User.Identity.GetUserName(), "Index", "Manage")
            </li>
            <li>
                <a href="javascript:document.getElementById('Logoff').submit()">تسجيل الخروج</a>
            </li>
        </ul>
    }
}
else
{

    <ul class="nav navbar-nav">
        <li>
            <a href="~/Account/Login">
                تسجيل الدخول
                <i class="fa fa-user-circle"> </i>
            </a>
        </li>
        <li>
            <a href="~/Account/Register">
                اشتراك
                <i class="glyphicon glyphicon-home"> </i>
            </a>
        </li>
    </ul>
}
